{% extends 'base.html' %}
{% block content %}
{% if processed %}
  <h5>Output:</h2>
  <p>{{ processed }}</p>
  {% include 'includes/form.html' with submit_message="Process with previous configuration" %}
{% else %}
  {% include 'includes/form.html' with submit_message="Process" %}
{% endif %}

{% if config %}
  <h5>Current configuration:</h5>
  <h6>Alphabet:</h6>
  <p>{{ config.alphabet }}</p>

  <a href="{% url 'emulator:emulator' config.encode %}" role="button" style="width:100%;">Go to this configuration</a>
{% endif %}
{% endblock %}
